# ====================================================================
# Visual Studio / Windows
# ====================================================================
*.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ====================================================================
# Build outputs
# ====================================================================
out/
bin/
obj/
x64/
x86/
Debug/
Release/

# ====================================================================
# C/C++ artifacts
# ====================================================================
*.obj
*.pdb
*.ilk
*.tlog
*.idb
*.lib
*.exp
*.dll
*.exe

# ====================================================================
# .NET artifacts
# ====================================================================
*.deps.json
*.runtimeconfig.json

# ====================================================================
# Logs / temp
# ====================================================================
*.log
*.tmp

# ====================================================================
# OS
# ====================================================================
Thumbs.db
.DS_Store